#Gradle
.gradle
/local.properties
/build

#Idea
*.iml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/caches/
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
.DS_Store

#Other
/captures
.externalNativeBuild
