<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.jdowns.matter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Matter"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="net.dean.jraw.android.REDDIT_USERNAME"
            android:value="PiwwowPants" />
        <meta-data
            android:name="net.dean.jraw.android.CLIENT_ID"
            android:value="t35jvfBbHfiDSg" />
        <meta-data
            android:name="net.dean.jraw.android.REDIRECT_URL"
            android:value="https://github.com/Piwwowpants" />
        <activity android:name=".views.activities.MainActivity" android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.OAuthActivity"
            android:alwaysRetainTaskState="true" />
    </application>

</manifest>